<footer class="page-footer">
    <div class="container">
        <div class="page-footer__row">
            <div class="page-footer__col">
                <div class="page-footer__copyright">
                    <p>
                        © 2021 - SignatureCheck - Сервис проверки электронной подписи.<br>
                        Лицензия ФСБ. ЛСЗ0015015 16286Н от 1 ноября 2017 г. (бессрочная). Выдано: Центр по
                        лицензированию, сертификации и защите государственной тайны.<br>
                        Лицензия ФСТЭК. 3402 от 10 октября 2017г. (Деятельность по защите конфиденциальной информации).
                        Выдано: Федеральной службой по техническому и экспортному контролю.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>