<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__col">
                <a href="#" class="page-header__logo">
                    <img src="img/logo.svg" alt="" class="page-header__logo-image">
                </a>
            </div>
            <div class="page-header__col">
                <nav class="page-header__nav">
                    <a href="#" class="page-header__nav-link active">
                        Проверить сертификат
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Проверить подпись
                    </a>
                </nav>
                <div class="page-header__contacts">
                    <a href="tel:+74956460419" class="page-header__phone">+7 (495) 646-0419</a>
                    <a href="mailto:info@company-it.ru" class="page-header__mail">
                        info@company-it.ru
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>