{{#extend "layout"}}
{{#content "main"}}


<section class="home">
    <div class="container">
        <div class="home__row">
            <div class="home__col">
                <div class="home__content">
                    <h1 class="home__heading">
                        Сервис проверки электронной подписи
                    </h1>
                    <div class="home__text">
                        <p>
                            Проверьте подлинность открытого ключа электронной подписи (ЭП; ранее - электронная цифровая
                            подпись, ЭЦП).
                        </p>
                    </div>
                    <div class="home__checked">
                        Проверено документов: <em>123</em>
                    </div>
                </div>
            </div>
            <div class="home__col">
                <div class="home__check-result">
                    <h2 class="home__check-result-heading">
                        Сведения об электронной подписи
                    </h2>
                    <div class="home__check-result-text">
                        <svg width="14" height="14" aria-hidden="true" class="icon-failure">
                            <use xlink:href="#failure"></use>
                        </svg>
                        Подпись не прошла проверку
                    </div>
                    <div class="home__check-result-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        ФИО
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        ИНН
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Адрес
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        СНИЛС
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Должность
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Организация
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Номер сертификата
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Сертификат выдан
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Дата и время проверки
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Дата и время подписания
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Статус подписи
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Статус сертификата
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Сертификат действителен с
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Секртификат действителен ло
                                    </th>
                                    <td>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="home__check-result-btns">
                        <a href="#" class="btn btn--hollow home__check-result-btn">
                            Новая проверка
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}