.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    background: #212121;
    border-radius: 2.5rem;
    color: white;
    margin: 0 auto;
    padding: 1.5rem 6rem;
}
